.welcome-wrapper {
  margin: 42px auto;
  padding: 72px 44px;
  background: #fff;
  border-radius: 4px;
}

.links-list {
  display: flex;
  max-height: 120px;
}

.image-wrapper {
  margin: 0 5px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.info {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.info:hover {
  opacity: 1;
  color: white;
  width: 100%;
  transform: translate(-50%,-60%);
}

.link:hover {
  transform: translate(-50%,-90%);
}

.gallery-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

//Carousel//
.carousel-wrapper {
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.carousel-image {
  object-fit: cover;
  height: 190px;
  width: 190px;
}

.carousel-review-wrapper{
  margin-left: 50px;
  width: 100%;
}

//GALERY//
.galery-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.galery-image-wrapper {
  flex: 0 0 31%;
  margin: 5px;
  object-fit: cover;
  position: relative;
  height: 170px;
}

.gallery-image {
  height: 100%;
  width: 100%;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .4);
  opacity: 0;
  transition: .4s;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  i {
    margin: 4px;
  }
}

.icon:hover {
  color: salmon;
  opacity: 1;
}

.hours-wrapper{
  margin: 6px 5px;
  position: relative;
  min-height: 121px;
  background-color: #ff6b6b;
  border-radius: 4px;
  text-align: center;
}

.hours {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.nav-link, .hours {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.carousel-dots {
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    color: #333;
    margin: 8px;
    font-size: 15px;

    &.active {
      color: salmon;
    }
  }
}

.footer {
  margin-top: 15px;
}

a {
  color: salmon;
}
